<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-3 shadow">
  <img src="https://cdn-icons-png.flaticon.com/512/6626/6626714.png" alt="" width="50">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="">Prison System</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" routerLink="login">Login</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">
              <span data-feather="home"></span>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="wards">
              <span data-feather="file"></span>
              Wards
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">
              <span data-feather="shopping-cart"></span>
              Reports
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Information</h1>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
